@import url("https://fonts.googleapis.com/css?family=Trirong");
/*Font credit: https://www.fontrepo.com/font/361/adventure-subtitles*/
@font-face {
	font-family: 'Adventure Subtitles';
	src: url('/fonts/AdventureSubtitles/AdventureSubtitles.eot');
	src: url('/fonts/AdventureSubtitles/AdventureSubtitles.eot?#iefix') format('embedded-opentype'),
		url('/fonts/AdventureSubtitles/AdventureSubtitles.woff2') format('woff2'),
		url('/fonts/AdventureSubtitles/AdventureSubtitles.woff') format('woff'),
		url('/fonts/AdventureSubtitles/AdventureSubtitles.ttf') format('truetype'),
		url('/fonts/AdventureSubtitles/AdventureSubtitles.svg#AdventureSubtitles') format('svg');
	font-weight:1000;
	font-style: normal;
	font-display: swap;
}
html {
	scroll-behavior: smooth;
}
html, body {
	background-color: black;
	font-family: 'Adventure Subtitles', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
	width: 100wh;
	height: 100%;
	text-align: center;
	color: white;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
/* Styling for fade in animation*/
.hidden {
	opacity: 0;
	transform: translateX(30%);
	transition: all 1s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
	.hidden {
		transition: none;
	}
}
.show {
	position: relative;
	opacity: 1;
	transform: translateX(0);
}

.slide {
	transform: translate(40%, -70%);
}

@keyframes drawLine{
	0%{
		height: 0%;
	}
	100%{
		height: 100%;
	}
}
.card-body {
	font-family:'Trirong', serif;
}
.grid-item {
	font-family: 'Trirong', serif;
}